html {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: scroll;
  color: #E5E5E5;
}

body {
  background-color: #485362;
}

::-moz-selection {
  background: #FCBC5D;
  color: #1E2734;
  text-shadow: none;
}

::selection {
  background: #FCBC5D;
  color: #1E2734;
  text-shadow: none;
}

.content-area {
  width: 850px;
  margin: 50px auto 0px auto;
}

.highlighted-text {
  padding: 20px;
  border-radius: 5px;
  background-color: #353D49;
}

.highlighted-text__title {
  margin-bottom: 10px;
  font-size: 36px;
  text-align: center;
}

.highlighted-text__body {

}

@media screen and (max-width: 768px) {
  .content-area {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .highlighted-text__title {
    font-size: 28px;
  }
}