venv/
node_modules/
frontend/dist
output.log
startup/
.vscode
.mypy_cache/
rbpKeys/
rbp_dump/

images/recipes/dist/*/
!images/recipes/dist/default.png
!images/recipes/dist/.gitkeep
images/recipes/upload/*/
!images/recipes/upload/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
eggs/
.eggs/
lib/
lib64/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST