.content-area_index {
  width: 850px;
  margin: auto;
}

.content-area_index__logo {
  margin: 30px auto;
  font-size: 2.5rem;
  font-weight: bold;
  color: #F9F6F6;
  text-align: center;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* search area */

.input-container {
  position: relative;
}

.input-container__input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  font-size: 23px;
  padding-left: 9px;
  color: #1E2734;
}

.input-container__search-button {
  width: 200px;
  height: 39px;
  line-height: 39px;

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #1E2734;
  background-color: #BDBDBD;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.input-container__search-link {
  color: #1E2734;
  text-decoration: none;
}

.input-container__search-button_inactive {
}

.input-container__search-button_active {
  background-color: #FCBC5D;
  cursor: pointer;
}

.search_area__sample {
  padding: 9px 0px;
  font-size: 21px;
  color: #F9F6F6;
}

.search_area__sample_highlited {
  text-decoration: underline;
  color: #FCBC5D;
  cursor: pointer;
}

.input-container__suggestions {
  position: absolute;
  top: 46px;
  width: 100%;

  box-sizing: border-box;
  border: 1px solid #000000;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;


  font-size: 20px;
  background-color: #F9F6F6;
  transition: 0.3s;
}

.input-container__suggestions_hidden {
  display: none;
}

.input-container__suggested-ingredient {
  padding-left: 6px;
  border-top: 0.25px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: #1E2734;
  cursor: pointer;
}

.input-container__suggested-ingredient:first-child {
  margin-top: 6px;
}

.input-container__suggested-ingredient:hover {
  background-color: rgba(86, 204, 242, 0.5);
}

.selected-ingredient {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: 7px;

  background-color: #6BAA72;
  color: #1E2734;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.selected-ingredient__name {

}

.selected-ingredient__delete {
  margin-left: 16px;
  cursor: pointer;
}

/* end search area */

/* feautured recipes */

.featured-recipes {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.featured-recipes__container {
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #353D49;
}

.featured-recipes__image {
  width: 100%;
}

.featured-recipes__name {
  text-align: center;
}

.featured-recipes__link {
  display: block;
  height: 40px;
  line-height: 30px;
  font-size: 20px;
  color: #F9F6F6;
  text-decoration: none;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* end feautured recipes */