.content-area_index {
  margin: 60px auto 20px auto;
}

.content-area__logo {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  color: #F9F6F6;
  text-align: center;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* featured recipes */

.featured-recipes {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.featured-recipes__container {
  width: 48%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #353D49;
}

.featured-recipes__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.featured-recipes__name {
  text-align: center;
}

.featured-recipes__link {
  display: block;
  height: 40px;
  line-height: 30px;
  font-size: 20px;
  color: #F9F6F6;
  text-decoration: none;
}

/* featured recipes end */

@media screen and (max-width: 768px) {
  .content-area_index {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .content-area__logo {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .featured-recipes {
    flex-direction: column;
    margin: 5px auto 10px auto;
  }

  .featured-recipes__container {
    width: 100%;
  }

  .featured-recipes__container:not(:last-child) {
    margin-bottom: 10px;
  }
}

.highlighted-text__list {
  list-style-type: disc;
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
