.restore__text {
  margin-bottom: 10px;
}

.restore__confirm-button {
  width: 150px;
  height: 35px;
  line-height: 35px;
  margin-top: 12px;
  background-color: #4EC44B;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.restore__error {
  margin-top: 12px;
}