.content-area_profile {
  margin-top: 80px;
}

.user-main {
  position: relative;
  background-color: #1E2734;
  border-radius: 10px;
  padding: 20px;
}

.user-main__username {
  text-align: center;
  font-size: 36px;
}

.user-main__email {
  margin: 10px auto;
  text-align: center;
}

.user-main__unconfirmed {
  margin-bottom: 10px;
}

.user-main__unconfirmed-warning {
  color: #E73A23;
}

.user-main__open-settings-btn {
  position: absolute;
  font-size: 14px;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.user-main__settings-btns > *:not(:first-child) {
  margin-left: 20px;
}

.changename__text, .changepass__text {
  margin-bottom: 10px;
}

.changename__error, .changepass__error {
  margin-bottom: 10px;
  color: #E73A23;
}

.changename__form {
  display: flex;
  justify-content: space-between;
}

.user-lists__menu {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.user-lists__menu-btn {
  width: 20%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.user-lists__menu-btn_active {
  background-color: rgba(30, 39, 52, 0.5);
}

.user-lists__list {
  margin-bottom: 15px;
}

.user-lists__error {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.user-lists__recipe-single {

}

.user-lists__recipe-single:not(:last-child) {
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.user-lists__recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.user-lists__recipe-name {
  flex-grow: 1;
}

.user-lists__recipe-link {
  color: inherit;
  font-size: 24px;
  text-decoration: none;
}

.user-lists__recipe-remove {
  margin-left: 10px;
}

@media screen and (max-width:768px) {
  .content-area_profile {
    margin-top: 60px;
  }

  .user-main {
    padding-bottom: 30px;
  }

  .user-main__open-settings-btn {
    font-size: 12px;
  }

  .user-lists__menu {
    flex-wrap: wrap;
    padding-bottom: 3px;
  }

  .user-lists__menu-btn {
    width: 45%;
    border-radius: 10px;
  }

  .user-lists__recipe-link {
    font-size: 20px;
  }
}

@media screen and (max-width:600px) {

}