.content-area_recipe-details {
  margin-top: 65px;
}

.recipe-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.recipe-main {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.recipe-main__title {
  font-size: 28px;
  font-weight: 700;
}

.recipe-main__tags {
  margin-top: 9px;
  /*flex-grow: 1;*/
  font-size: 17px;
  font-weight: bold;
}

.recipe-main__tag-name {
  color: #FCBC5D;
  text-decoration: underline;
  cursor: pointer;
}

.recipe-characteristics {
  font-size: 18px;
  margin-top: 20px;
}

.recipe-characteristics__item {
  display: inline-block;
}

.recipe-characteristics__item:not(:first-child) {
  margin-left: 10px;
}

.recipe-characteristics__text {
  width: 35%;
  font-weight: 700;
}

.recipe-characteristics__value {
  padding: 5px 10px;
  background-color: #1E2734;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
}

.recipe-characteristics__time-value {

}

.recipe-characteristics__difficulty-value {
  text-shadow: -1px -1px 0 rgba(95,95,95, 0.5),
                1px -1px 0 rgba(95,95,95, 0.5),
                -1px 1px 0 rgba(95,95,95, 0.5),
                1px 1px 0 rgba(95,95,95, 0.5);
}

.recipe-characteristics__rating-container {
  margin-left: 50px;
  background-color: #1E2734;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.recipe-characteristics__rating-button {
  padding: 5px 10px;
  height: 100%;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}

.recipe-characteristics__rating-minus {
  background-color: #CD573D;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.recipe-characteristics__rating-plus {
  background-color: #4EC44B;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.recipe-characteristics__rating-value {
  padding: 5px 10px;
  background-color: #1E2734;
}

.ingredients-container {
  width: 48%;
}

.ingredients__title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.ingredients__subtitle {
  margin: 10px 0 10px 0;
  font-size: 19px;
}

.ingredients__mandatory {

}

.ingredients__additional {
  
}

.ingredients__list {
  font-size: 18px;
  line-height: 20px;
}

.recipe-instructions {
  margin-top: 25px;
  margin-bottom: 30px;
}

.section-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.recipe-instructions__main {
  margin-top: 15px;
}

.recipe-pic-container {
  width: 48%;
  height: 215px;
  margin-right: 4%;
  float: left;
  background-color: #353D49;
  border-radius: 10px;
  position: relative;
}

.recipe-pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.recipe-pic-upload-button {
  position: absolute;
  bottom: 0%;
  background-color: rgba(78,196,75, 0.5);
  width: 100%;
  height: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(95,95,95, 0.5),
                1px -1px 0 rgba(95,95,95, 0.5),
                -1px 1px 0 rgba(95,95,95, 0.5),
                1px 1px 0 rgba(95,95,95, 0.5);
  cursor: pointer;
}

.recipe-pic-upload-button__text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-instructions__list {
  font-size: 18px;
  line-height: 24px;
}

.recipe-instructions__list:not(:first-child) {
  min-height: 215px;
}

.recipe-instructions__step {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.recipe-source {
  margin-bottom: 30px;
  font-size: 18px;
  font-style: italic;
}

.recipe-interaction {
  display: flex;
  justify-content: space-between;
}

.recipe-interaction__buttons {
  display: flex;
}

.recipe-interaction__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 35px;
  min-width: 35px;
  box-sizing: border-box;
  border: 1px solid #FCBC5D;
  border-radius: 5px;
  padding: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.recipe-interaction__button_active {
  background-color: #FCBC5D;
}

.recipe-interaction__button-like-counter {
  font-weight: 700;
  margin-right: 5px;
}

.recipe-interaction__button-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.1s;
}

.recipe-interaction__button-svg {
  stroke: #1E2734;
  stroke-width: 8px;
  transition: fill 0.5s;
}

.recipe-interaction__button-svg_heart {
  fill: #DD2E44;
}

.recipe-interaction__button-svg_star {
  fill: #FCBC5D;
}

.recipe-interaction__button_active .recipe-interaction__button-svg_star {
  fill: #E5E5E5;
}

.recipe-interaction__button:hover .recipe-interaction__button-icon {
  transform: scale(1.25);
}

.recipe-interaction__button-icon_animate {
  /*animation: interaction-icon linear infinite;
  animation-duration: 0.5s;
  animation-delay: 1s;*/
}

@keyframes interaction-icon {
  0% {transform: scale(1);}
  50% {transform: scale(1.3);}
  100% {transform: scale(1)}
}

.recipe-interaction__button:not(:last-child) {
  margin-left: 15px;
  margin-right: 15px;
}

.recipe-interaction__button:hover .recipe-interaction__tooltip-wrap {
  opacity: 1;
}

.recipe-interaction__tooltip-wrap {
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  height: 40px;
  cursor: initial;
  white-space: nowrap;
  transition: 0.1s;
}

.recipe-interaction__tooltip {
  background-color: #1E2734;
  border-radius: 5px;
  padding: 7px;
}

.recipe-interaction__tooltip::before {
  content: "";
  position: absolute;
  top: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #1E2734 transparent;
  z-index: 3;
}

.recipe-interaction__share {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.recipe-interaction__share-icon {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  cursor: pointer;
}

.recipe-interaction__share-icon:last-child {
  margin-right: 0;
}

.comment-section {
  margin-top: 25px;
}

.comment-section__content {
  margin-top: 15px;
  width: 100%;
  height: 200px;
  background-color: #FCBC5D;
}

@media screen and (max-width: 768px) {
  .recipe-characteristics__item {
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .recipe-top-container {
    flex-direction: column;
  }

  .recipe-pic-container {
    width: 100%;
  }

  .recipe-main {
    width: 100%;
    margin-top: 5px;
    margin-left: 0;
  }

  .recipe-main__title {
    text-align: center;
  }

  .recipe-characteristics__item {
    margin-top: 7px;
  }

  .ingredients-container {
    width: 100%;
    margin-top: 20px;
  }

  .ingredients__title {
    margin-bottom: 10px;
  }

  .ingredients__additional {
    margin-top: 15px;
    margin-left: 0;
  }

  .recipe-interaction {
    flex-wrap: wrap;
  }

  .recipe-interaction__share {
    width: 100%;
    margin-top: 15px;
  }

  .recipe-interaction__share-icon:first-child {
    margin-left: 0;
  }
}