.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container__input {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 10px 0 4px -7px rgba(0, 0, 0, 0.3);
  font-size: 23px;
  padding-left: 9px;
  background-color: #F9F6F6;
  color: #1E2734;
}

.input-container__search-button {
  width: 200px;
  height: 39px;
  line-height: 39px;

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 2;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #1E2734;
  background-color: #BDBDBD;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.input-container__search-link {
  display: block;
  color: #1E2734;
  text-decoration: none;
}

.input-container__search-button_inactive {

}

.input-container__search-button_active {
  background-color: #FCBC5D;
  cursor: pointer;
}

.search_area__sample {
  padding-top: 9px;
  padding-bottom: 5px;
  font-size: 21px;
  color: #F9F6F6;
}

.search_area__sample_highlited {
  text-decoration: underline;
  color: #FCBC5D;
  cursor: pointer;
}

.search_area__selected-ings {
  padding-top: 9px;
}

.input-container__suggestions {
  position: absolute;
  top: 46px;
  width: 100%;
  z-index: 3;

  box-sizing: border-box;
  border: 1px solid #000000;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  line-height: 25px;
  font-size: 20px;
  background-color: #F9F6F6;
  transition: 0.3s;
}

.input-container__suggestions_hidden {
  display: none;
}

.input-container__suggested-ingredient {
  padding-left: 6px;
  border-top: 0.25px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: #1E2734;
  cursor: pointer;
}

.input-container__suggested-ingredient:first-child {
  margin-top: 6px;
}

.input-container__suggested-ingredient_active {
  background-color: rgba(86, 204, 242, 0.5);
}

.selected-ingredient {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: 7px;
  margin-bottom: 7px;

  background-color: #6BAA72;
  color: #1E2734;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.selected-ingredient__name {

}

.selected-ingredient__delete {
  margin-left: 16px;
  cursor: pointer;
}

.search-settings {
  margin-top: 10px;
}

.search-settings__sort-text {
  font-weight: 700;
}

.search-settings__sort-select {
  display: inline-block;
  color: #FCBC5D;
  font-weight: 700;
}

.search-settings__sort-selected {
  display: inline-block;
  cursor: pointer;
}

.search-settings__sort-triangle {
  display: inline-block;
  margin-left: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7px 0 7px;
  border-color: #fcbc5d transparent transparent transparent;
}

.search-settings__sort-tooltip {
  position: relative;
}

.search-settings__sort-selection {
  position: absolute;
  top: 5px;
  width: 285px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background-color: #1E2734;
  overflow: hidden;
  z-index: 2;
}

.search-settings__sort-option {
  padding-left: 8px;
  height: 27px;
  display: flex;
  align-items: center;
  color: #FCBC5D;
  cursor: pointer;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.search-settings__sort-option:hover {
  background-color: #485362;
}

@keyframes tipSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(285px);
  }
}

.search-settings__sort-tip {
  position: absolute;
  top: 5px;
  padding: 8px;
  width: 285px;
  height: 110px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background-color: #1E2734;
  color: #E5E5E5;
  z-index: 1;
  animation: 0.3s ease-out 0s 1 tipSlide;
  animation-fill-mode: forwards;
}

.search-types {
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 60px;
  max-height: 80px;
  padding: 15px 0 25px 0;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  background-color: #FCBC5D;
  transition: 0.5s;
}

.search-types_open {
  top: 40px;
}

.search-types__selection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-types__divider {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: #485362;
  opacity: 0.5;
}

.search-types__bottom {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-types__arrows {
  width: 30px;
  height: 12px;
  transition: 0.3s;
}

.search-types_open .search-types__arrows {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  @keyframes tipSlide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateY(108px);
    }
  }
}

@media screen and (max-width: 600px) {
  .input-container__input {
    font-size: 15px;
    height: 40px;
  }

  .input-container__search-button {
    width: auto;
    padding: 0px 5px 0px 5px;
    height: 28px;
    line-height: 28px;
    font-size: 15px;
  }

  .input-container__suggestions {
    top: 35px;
    font-size: 15px;
  }

  .search_area__sample {
    font-size: 17px;
  }

  .search-settings {
    margin-top: 0;
  }

  .search-settings__sort-tip {
    width: 240px;
    height: auto;
  }

  .search-settings__sort-selection {
    width: 240px;
  }
  
  .search-types {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .search-types_open {
    padding-top: 15px;
    top: 30px;
  }
}